bot/__pycache__/*
bot/UltimateBypass.session
bot/UltimateBypass.session-journal
bot/MultiFunction.session
bot/MultiFunction.session-journal
bot/helpers/translations/__pycache__/*
bot/helpers/utilities/__pycache__/*
bot/modules/__pycache__/*
__pycache__/*
.vscode
.vscode/*
.idea
.idea/*
venv/*