bot/__pycache__/*
bot/helpers/__pycache__/*
bot/modules/__pycache__/*
bot/plugins/__pycache__/*
bot/plugins/developer/__pycache__/*
bot/plugins/sudo/__pycache__/*
bot/plugins/users/__pycache__/*
MultiFunctionBot.session
MultiFunctionBot.session-journal
bot/MultiFunctionBot.session
bot/MultiFunctionBot.session-journal
bot/helpers/utilities/__pycache__/*
__pycache__/*
.vscode
.vscode/*
.idea
.idea/*
venv/*
*logs.txt
git-filter-repo