# Necessary
API_ID = 0
API_HASH = ""
BOT_TOKEN = ""
BOT_USERNAME = ""


# Miscellaneous
BIFM_URL = "https://bifm.tacohitbox.com/api/bypass?url"
EMILY_API_URL = "https://api.emilyx.in/api"
UPTOBOX_TOKEN = ""
AUTH_USER = 0
MAX_MESSAGE_LENGTH = 4096



# AppDrive LookAlike Credentials
UNIFIED_EMAIL = ""
UNIFIED_PASS = ""


# Site Crypts
GDTOT_CRYPT = ""
HUBDRIVE_CRYPT = ""
KATDRIVE_CRYPT = ""
KOLOP_CRYPT = ""
DRIVEFIRE_CRYPT = ""
DRIVEBUZZ_CRYPT = ""
GADRIVE_CRYPT = ""
JIODRIVE_CRYPT = ""


# Sharer Cookies
Sharerpw_XSRF = ""
Sharerpw_laravel = ""